<a href="https://colab.research.google.com/github/KJ22222/ESSA/blob/main/4_14%20%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.문자열을 datetime 오브젝트로 변환하기

In [1]:
import pandas as pd 
import os

In [2]:
from google.colab import files
myfile = files.upload()

Saving country_timeseries.csv to country_timeseries.csv

In [3]:
ebola=pd.read_csv("country_timeseries.csv")

In [ ]:
ebola=pd.read_csv("country_timeseries.csv")

In [ ]:
ebola['date_dt']=pd.to_datetime(ebola['Date'])
print(ebola.info())

시간 형식 지정자와 기호 적절히 조합하여  format인자에 전달



*    연도,월,일 시간, 분등에서 내가 원하는 정보만 추출하기 위해 format 인자에 전달하여 추출하기

In [4]:
test_df1 = pd.DataFrame({'order_day':['01/01/15', '02/01/15', '03/01/15']})

test_df1['date_dt1'] = pd.to_datetime(test_df1['order_day'], format='%d/%m/%y')
test_df1['date_dt2'] = pd.to_datetime(test_df1['order_day'], format='%m/%d/%y')
test_df1['date_dt3'] = pd.to_datetime(test_df1['order_day'], format='%y/%m/%d')

print(test_df1)

  order_day   date_dt1   date_dt2   date_dt3
0  01/01/15 2015-01-01 2015-01-01 2001-01-15
1  02/01/15 2015-01-02 2015-02-01 2002-01-15
2  03/01/15 2015-01-03 2015-03-01 2003-01-15

In [ ]:
now = datetime.now()
print(now)
nowDate = now.strftime('%Y-%m-%d')
print(nowDate)
nowTime = now.strftime('%H:%M:%S')
print(nowTime) 
nowDatetime = now.strftime('%Y-%m-%d %H:%M:%S')
print(nowDatetime)

#2. datetime 오브젝트로 변환하기-read_csv 메서드


*   .year,.month,.day를 사용하여 원하는 부분만 추출하기

In [ ]:
ebola1=pd.read_csv("country_timeseries.csv")

In [ ]:
date_series = pd.Series(['2018-05-16', '2018-05-17', '2018-05-18'])
d1 = pd.to_datetime(date_series) 
print(d1)

In [ ]:
print(d1[0].year)

In [ ]:
print(d1[0].month)

In [ ]:
print(d1[0].day)

#3.dt 접근자 사용하기

In [5]:
ebola=pd.read_csv("country_timeseries.csv")
ebola['date_dt'] = pd.to_datetime(ebola['Date'])

In [6]:
print(ebola[['Date','date_dt']].head())

         Date    date_dt
0    1/5/2015 2015-01-05
1    1/4/2015 2015-01-04
2    1/3/2015 2015-01-03
3    1/2/2015 2015-01-02
4  12/31/2014 2014-12-31

In [7]:
print(ebola['date_dt'][3].year)

2015

In [ ]:
print(ebola['date_dt'][3].month)

In [ ]:
print(ebola['date_dt'][3].day)

.dt뒤에 year,month,day를 붙여서 추출하기

In [8]:
ebola['year'] = ebola['date_dt'].dt.year
print(ebola[['Date', 'date_dt', 'year']].head())

         Date    date_dt  year
0    1/5/2015 2015-01-05  2015
1    1/4/2015 2015-01-04  2015
2    1/3/2015 2015-01-03  2015
3    1/2/2015 2015-01-02  2015
4  12/31/2014 2014-12-31  2014

In [ ]:
ebola['month'],ebola['day'] = ebola['date_dt'].dt.month,ebola['date_dt'].dt.day
print(ebola[['Date', 'date_dt', 'year','month','day']].head())

# 4.사례별 시계열 데이터 계산하기

In [ ]:
print(ebola.iloc[-5:, :5])

In [ ]:
print(ebola['date_dt'].min())
print(type(ebola['date_dt'].min()))

In [ ]:
#에볼라 진행 정도 파악하기
ebola['outbreak_d'] = ebola['date_dt'] - ebola['date_dt'].min()

print(ebola[['Date', 'Day', 'outbreak_d']].head())

In [ ]:
from google.colab import files
myfile = files.upload()

In [ ]:
banks = pd.read_csv('banklist.csv') 
print(banks.head())

read_csv에서 parse_dates를 통해 datetime 형으로 불러오기

In [ ]:
banks_no_dates = pd.read_csv('banklist.csv') 
print(banks_no_dates.info())

In [ ]:
banks = pd.read_csv('banklist.csv', parse_dates=[5, 6]) 
print(banks.info())

분기와 연도만 추출하기


*   quarter을 사용하면 분기를 추출 할 수 있음

In [ ]:
banks['closing_quarter'], banks['closing_year'] = (banks['Closing Date'].dt.quarter, banks['Closing Date'].dt.year)

print(banks.head())

In [ ]:
closing_year=banks.groupby(['closing_year']).size()

print(closing_year)

In [ ]:
closing_year_q=banks.groupby(['closing_year','closing_quarter']).size()
print(closing_year_q)

In [ ]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots()
ax = closing_year.plot() 
plt.show()

fig, ax = plt.subplots() 
ax = closing_year_q.plot() 
plt.show()

# 5.시간 범위 수정하고 데이터 밀어내기

In [ ]:
import matplotlib.pyplot as plt

ebola.index = ebola['Date']

fig, ax = plt.subplots() 
ax = ebola.iloc[0:, 1:].plot(ax=ax)
ax.legend(fontsize=7, loc=2, borderaxespad=0.) 
plt.show()

In [ ]:
ebola_sub = ebola[['Day', 'Cases_Guinea', 'Cases_Liberia']] 
print(ebola_sub.tail(10))

In [ ]:
ebola = pd.read_csv("country_timeseries.csv",  parse_dates=['Date'])

print(ebola.head().iloc[:, :5])

In [ ]:
ebola.index = ebola['Date']

new_idx = pd.date_range(ebola.index.min(), ebola.index.max())

In [ ]:
new_idx = reversed (new_idx)
ebola = ebola.reindex(new_idx)
print(ebola.head().iloc[:, :5])
print(ebola.tail().iloc[:, :5])

유효한 값이 있는 첫번째와 마지막 인덱스 반환하기

In [ ]:
last_valid = ebola.apply(pd.Series.last_valid_index) 
print(last_valid)

In [ ]:
first_valid = ebola.apply(pd.Series.first_valid_index) 
print(first_valid)

In [ ]:
earliest_date = ebola.index.min() 
print(earliest_date)

In [ ]:
shift_values = last_valid - earliest_date 
print(shift_values)

shift 메서드: 인잣값만큼 데이터를 밀어내는 메서드

In [ ]:
ebola_dict = {} 
for idx, col in enumerate(ebola):
    d = shift_values[idx].days 
    shifted = ebola[col].shift(d) 
    ebola_dict[col] = shifted
ebola_dict

In [ ]:
ebola_shift = pd.DataFrame(ebola_dict)

In [ ]:
print(ebola_shift.tail())

In [ ]:
ebola_shift.index = ebola_shift['Day'] 
ebola_shift = ebola_shift.drop(['Date', 'Day'], axis=1)

print(ebola_shift.tail())

In [ ]:
fig, ax = plt.subplots() 
ax = ebola_shift.iloc[:, :].plot(ax=ax)
ax.legend(fontsize=7, loc=2, borderaxespad=0.) 
plt.show()