<a href="https://colab.research.google.com/github/KJ22222/ESSA/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#03.넘파이

*   루프를 사용하지 않고 대량 데이터의 배령 연산을 가능하게 하므로 빠른 연산 속도를 보장함
*   배열 기반의 연산은 물론이고 다양한 데이터 핸들링 기능을 제공
*   데이터 처리 패키지인 판다스의 편리성에는 미치지 못함
*   하지만 판다스를 이해하는데 도움이 많은 도움을 줄 수 있음

#3-1 넘파이 ndarray

*  넘파이 기반 데이터 타입: ndarray
*  shape을 통해 튜플 형태로 행,열의 수를 알 수 있어 배열의 차원을 구할 수 있음

*   ndim 차원 구하기

  *   []:1차원 [[]]:2차원

In [64]:
import numpy as np

In [ ]:
import numpy as np
array1=np.array([1,2,3]) #1차원,3개의 데이터 
print("array1 type:",type(array1))
print("array1 shape:",array1.shape)

array2=np.array([[1,2,3],[4,5,6]]) #2차원,2행 3열,6개 데이터
print("array2 type:",type(array2))
print("array2 shape:",array2.shape)

array3=np.array([[1,2,3]]) #2차원,1행 3열 
print("array3 type:",type(array3))
print("array3 shape:",array3.shape)



print("array1 차원:",array1.ndim)
print("array2 차원:",array2.ndim)
print("array3 차원:",array3.ndim)

array1 type: <class 'numpy.ndarray'>
array1 shape: (3,)
array2 type: <class 'numpy.ndarray'>
array2 shape: (2, 3)
array3 type: <class 'numpy.ndarray'>
array3 shape: (1, 3)
array1 차원: 1
array2 차원: 2
array3 차원: 2

#3-2 ndarray의 데이터 타입


*  데이터 타입은 숫자,문자열,불 모두 가능하지만 같은 데이터 타입만 가능
  *   ex)int와 float 같이 올 수 없음
*  데이터 타입dl 다르면 더 큰 데이터 타입으로 일괄 형 변환


*  타입변경을 위해 **astype(원하는 문자 타입)**이용


  *   메모리 절약 가능

In [ ]:
list1 = [1,2,3]
print(type(list1))
array1 = np.array(list1)
print(type(array1))
print(array1, array1.dtype)

<class 'list'>
<class 'numpy.ndarray'>
[1 2 3] int64

In [ ]:
list2 = [1, 2, 'test']
array2 = np.array(list2)
print(array2, array2.dtype)

list3 = [1, 2, 3.0]
array3 = np.array(list3)
print(array3, array3.dtype)

['1' '2' 'test'] <U21
[1. 2. 3.] float64

In [ ]:
array_int = np.array([1, 2, 3])
array_float = array_int.astype('float64')
print(array_float, array_float.dtype)

array_int1= array_float.astype('int32')
print(array_int1, array_int1.dtype)

array_float1 = np.array([1.1, 2.1, 3.1]) #소수점 이하 없애기
array_int2= array_float1.astype('int32')
print(array_int2, array_int2.dtype)

[1. 2. 3.] float64
[1 2 3] int32
[1 2 3] int32

#3-3 ndarray 편리하게 생성하기

*   **arange()**:0부터 함수 인자 값-1까지의 값을 순차적으로 ndarray의 데이터값으로 변환
*   **zeros(튜플형태)**:모든 값을 0으로 채운 해당 shape를 가진 ndarray를 반환


*   **ones(튜플형태)**:모든 값을 1으로 채운 해당 shape를 가진 ndarray를 반환

In [ ]:
sequence_array = np.arange(10)
print(sequence_array)
print(sequence_array.dtype, sequence_array.shape)

[0 1 2 3 4 5 6 7 8 9]
int64 (10,)

In [ ]:
zero_array = np.zeros((3,2),dtype='int32')
print(zero_array)
print(zero_array.dtype, zero_array.shape)

one_array = np.ones((3,2))
print(one_array)
print(one_array.dtype, one_array.shape)

[[0 0]
 [0 0]
 [0 0]]
int32 (3, 2)
[[1. 1.]
 [1. 1.]
 [1. 1.]]
float64 (3, 2)

#3-4 reshape


*  ** reshape(숫자 or 튜플)**:특정 차원 및 크기로 변환
*   -1을 인자로 사용하면 원래 ndarray와 호환되는 새로운 shape로 변환


*   **reshap(-1,1)**로 3->2/1->2로 차원변경 가능
*   **tolist()**로 리스트 자료형 변환

In [ ]:
array1 = np.arange(10)
print('array1:\n', array1)

array2 = array1.reshape(2,5)
print('array2:\n',array2)

array3 = array1.reshape(5,2)
print('array3:\n',array3)

array1:
 [0 1 2 3 4 5 6 7 8 9]
array2:
 [[0 1 2 3 4]
 [5 6 7 8 9]]
array3:
 [[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]

In [ ]:
array1 = np.arange(10)
print(array1)

array2 = array1.reshape(-1,5)
print('array2 shape:',array2.shape)

array3 = array1.reshape(5,-1)
print('array3 shape:',array3.shape)

[0 1 2 3 4 5 6 7 8 9]
array2 shape: (2, 5)
array3 shape: (5, 2)

In [ ]:
array1 = np.arange(8)
array3d = array1.reshape(2,2,2)
print(array3d)
print('array3d:\n',array3d.tolist())

# 3차원-> 2차원
array5 = array3d.reshape(-1,1)
print('array5:\n',array5.tolist())
print('array5 shape:',array5.shape)

# 1차원-> 2차원
print("array1:",array1)
array6 = array1.reshape(-1,1)
print('array6:\n',array6.tolist())
print('array6 shape:',array6.shape)

[[[0 1]
  [2 3]]

 [[4 5]
  [6 7]]]
array3d:
 [[[0, 1], [2, 3]], [[4, 5], [6, 7]]]
array5:
 [[0], [1], [2], [3], [4], [5], [6], [7]]
array5 shape: (8, 1)
array1: [0 1 2 3 4 5 6 7]
array6:
 [[0], [1], [2], [3], [4], [5], [6], [7]]
array6 shape: (8, 1)

#3-5 indexing



*   단일값
  *   
*   항목 추가


*   항목 추가

In [ ]:
# 1에서 부터 9 까지의 1차원 ndarray 생성 
array1=np.arange(1,10)
print('array1:',array1)
# index는 0 부터 시작하므로 array1[2]는 3번째 index 위치의 데이터 값을 의미
value=array1[2]
print('value:',value)
print(type(value))#더이상 nparray의 타입이 아님

array1: [1 2 3 4 5 6 7 8 9]
value: 3
<class 'numpy.int64'>

In [ ]:
print('맨 뒤의 값:',array1[-1], ', 맨 뒤에서 두번째 값:',array1[-2])

맨 뒤의 값: 9 , 맨 뒤에서 두번째 값: 8

수정하기

In [ ]:
array1[0] = 9
array1[8] = 0
print('array1:',array1)

array1: [9 2 3 4 5 6 7 8 0]

다차원에서 단일값 추출


*   콤마,로 분리된 로우와 칼럼 위치의 인덱스를 통해 접근


*   원래 로우는 axis 0,칼럼은 axis 1을 의미함
따라서 (axis 0=0,axis 1=0)이 맞는 표현(나중에 축 기반 연산 할 때 필요)

In [ ]:
array1d = np.arange(start=1, stop=10)
array2d = array1d.reshape(3,3)
print(array2d)
print('(row=0,col=0) index 가리키는 값:',array2d[0,0] )
print('(row=0,col=1) index 가리키는 값:', array2d[0,1] )
print('(row=1,col=0) index 가리키는 값:', array2d[1,0] )
print('(row=2,col=2) index 가리키는 값:', array2d[2,2] )

[[1 2 3]
 [4 5 6]
 [7 8 9]]
(row=0,col=0) index 가리키는 값: 1
(row=0,col=1) index 가리키는 값: 2
(row=1,col=0) index 가리키는 값: 4
(row=2,col=2) index 가리키는 값: 9

#인덱싱


*   이걸 통해서 한 것은 모두 ndarray 타입

In [ ]:
#1차원
array1 = np.arange(start=1, stop=10)
array3 = array1[0:3]
print(array3)
print(type(array3))

array1 = np.arange(start=1, stop=10)
array4 = array1[:3]
print(array4)

array5 = array1[3:]
print(array5)

array6 = array1[:]
print(array6)

[1 2 3]
<class 'numpy.ndarray'>
[1 2 3]
[4 5 6 7 8 9]
[1 2 3 4 5 6 7 8 9]

In [ ]:
#2차원
array1d = np.arange(start=1, stop=10)
array2d = array1d.reshape(3,3)
print('array2d:\n',array2d)

print('array2d[0:2, 0:2] \n', array2d[0:2, 0:2])
print('array2d[1:3, 0:3] \n', array2d[1:3, 0:3])
print('array2d[1:3, :] \n', array2d[1:3, :])
print('array2d[:, :] \n', array2d[:, :])
print('array2d[:2, 1:] \n', array2d[:2, 1:])
print('array2d[:2, 0] \n', array2d[:2, 0])

array2d:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
array2d[0:2, 0:2]
 [[1 2]
 [4 5]]
array2d[1:3, 0:3]
 [[4 5 6]
 [7 8 9]]
array2d[1:3, :]
 [[4 5 6]
 [7 8 9]]
array2d[:, :]
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
array2d[:2, 1:]
 [[2 3]
 [5 6]]
array2d[:2, 0]
 [1 4]

2차원 뒤에 오는 인덱스를 없애면 로우 축의 첫 번재 로우를 반환

In [ ]:
print(array2d[0])
print(array2d[1])
print('array2d[0] shape:', array2d[0].shape, 'array2d[1] shape:', array2d[1].shape )

[1 2 3]
[4 5 6]
array2d[0] shape: (3,) array2d[1] shape: (3,)

#펜시 인덱싱

*   리스트나 ndarray로 인덱스 집합을 지정하면 해당 위치의 인덱스에 해당하는 걸 반환

In [ ]:
array1d = np.arange(start=1, stop=10)
array2d = array1d.reshape(3,3)

array3 = array2d[[0,1], 2]
print('array2d[[0,1], 2] => ',array3.tolist())

array4 = array2d[[0,1], 0:2]
print('array2d[[0,1], 0:2] => ',array4.tolist())

array5 = array2d[[0,1]]
print('array2d[[0,1]] => ',array5.tolist())

array2d[[0,1], 2] =>  [3, 6]
array2d[[0,1], 0:2] =>  [[1, 2], [4, 5]]
array2d[[0,1]] =>  [[1, 2, 3], [4, 5, 6]]

#불린 인덱싱


*   조건 필터링과 검색을 동시에 할 수 있음

*   [ ]안에 조건문을 그대로 기재하면 됨




*   결과도 ndarray
*   항목 추가

In [ ]:
array1d = np.arange(1,10)
# [ ] 안에 array1d > 5 Boolean indexing을 적용 
array3 = array1d[array1d > 5]
print('array1d > 5 불린 인덱싱 결과 값 :', array3)
array1d>5

array1d > 5 불린 인덱싱 결과 값 : [6 7 8 9]

array([False, False, False, False, False,  True,  True,  True,  True])

In [ ]:
index=np.array([5,6,7,8])
array4=array1d[index]
print(array4)

[6 7 8 9]

#3-6 행렬의 정렬 – sort( )와 argsort( )


*   **np.sort(행렬 이름 ):**원 행렬은 그대로 유지한 채 원 행렬의 정렬된 행렬을 반환

*  **행렬이름.sort( ):**원 행렬 자체를 정렬한 형태로 변환하고 반환 값은 none

In [ ]:
org_array = np.array([ 3, 1, 9, 5]) 
print('원본 행렬:', org_array)
# np.sort( )로 정렬 
sort_array1 = np.sort(org_array)         
print ('np.sort( ) 호출 후 반환된 정렬 행렬:', sort_array1) 
print('np.sort( ) 호출 후 원본 행렬:', org_array)
# ndarray.sort( )로 정렬
sort_array2 = org_array.sort()
print('org_array.sort( ) 호출 후 반환된 행렬:', sort_array2)
print('org_array.sort( ) 호출 후 원본 행렬:', org_array)

원본 행렬: [3 1 9 5]
np.sort( ) 호출 후 반환된 정렬 행렬: [1 3 5 9]
np.sort( ) 호출 후 원본 행렬: [3 1 9 5]
org_array.sort( ) 호출 후 반환된 행렬: None
org_array.sort( ) 호출 후 원본 행렬: [1 3 5 9]



  *   내림차순:[::-1]

In [ ]:
sort_array1_desc = np.sort(org_array)[::-1]
print ('내림차순으로 정렬:', sort_array1_desc)

내림차순으로 정렬: [9 5 3 1]



*   2차원 이상의 경우 axis 축 값 설정을 통해서

In [ ]:
array2d = np.array([[8, 12], 
                   [7, 1 ]])

sort_array2d_axis0 = np.sort(array2d, axis=0)
print('로우 방향으로 정렬:\n', sort_array2d_axis0)

sort_array2d_axis1 = np.sort(array2d, axis=1)
print('컬럼 방향으로 정렬:\n', sort_array2d_axis1)

로우 방향으로 정렬:
 [[ 7  1]
 [ 8 12]]
컬럼 방향으로 정렬:
 [[ 8 12]
 [ 1  7]]



*   **np.argsort(행렬이름):**정렬 행렬의 원본에서의 인덱스 반환

In [ ]:
org_array = np.array([ 3, 1, 9, 5]) 
sort_indices = np.argsort(org_array)
print(type(sort_indices))
print('행렬 정렬 시 원본 행렬의 인덱스:', sort_indices)

<class 'numpy.ndarray'>
행렬 정렬 시 원본 행렬의 인덱스: [1 0 3 2]



*   내림차순
*   항목 추가

In [ ]:
org_array = np.array([ 3, 1, 9, 5]) 
sort_indices_desc = np.argsort(org_array)[::-1]
print('행렬 내림차순 정렬 시 원본 행렬의 인덱스:', sort_indices_desc)

행렬 내림차순 정렬 시 원본 행렬의 인덱스: [2 3 0 1]

#3-7 선형대수 연산 – 행렬 내적과 전치 행렬 구하기


*   **np.dot(행렬들):**행렬 내적(행렬 곱)

In [65]:
a = np.array([[1, 2, 3],
              [4, 5, 6]])
b = np.array([[7, 8],
              [9, 10],
              [11, 12]])

dot_product = np.dot(A, B)
print('행렬 내적 결과:\n', dot_product)

TypeError: ignored

*   **np.transpose():**전치 행렬

In [ ]:
A = np.array([[1, 2],
              [3, 4]])
transpose_mat = np.transpose(A)
print('A의 전치 행렬:\n', transpose_mat)

TypeError: ignored