<a href="https://colab.research.google.com/github/KJ22222/ESSA/blob/main/%EB%AF%B8%EB%8B%88%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B82.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 한글 폰트 출력 오류 해결

In [ ]:
#한글 폰트 설치
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 49 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 2s (4,317 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 155639 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [ ]:
#런타임 - 런타임 다시 시작 후 폰트 지정
import matplotlib.pyplot as plt

plt.rc('font', family='NanumBarunGothic')

# 라이브러리 및 데이터 부르기

In [ ]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('font', family='NanumBarunGothic') #matplotlib 한글 깨짐 방지

import warnings
warnings.filterwarnings(action='ignore')

In [ ]:
from google.colab import files
myfile = files.upload()

Saving movies_test.csv to movies_test (1).csv
Saving movies_train.csv to movies_train (1).csv
Saving submission.csv to submission (1).csv

In [ ]:
df_train=pd.read_csv("movies_train.csv")
df_train.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387

In [ ]:
df_test=pd.read_csv("movies_test.csv")
df_test.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor
0,용서는 없다,시네마서비스,느와르,2010-01-07,125,청소년 관람불가,김형준,3.005290e+05,2,304,3
1,아빠가 여자를 좋아해,(주)쇼박스,멜로/로맨스,2010-01-14,113,12세 관람가,이광재,3.427002e+05,4,275,3
2,하모니,CJ 엔터테인먼트,드라마,2010-01-28,115,12세 관람가,강대규,4.206611e+06,3,419,7
3,의형제,(주)쇼박스,액션,2010-02-04,116,15세 관람가,장훈,6.913420e+05,2,408,2
4,평행 이론,CJ 엔터테인먼트,공포,2010-02-18,110,15세 관람가,권호영,3.173800e+04,1,380,1

# 데이터 요약

In [ ]:
print(df_train.shape)

(600, 12)

In [ ]:
print(df_test.shape)

(243, 11)

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           600 non-null    object
 1   distributor     600 non-null    object
 2   genre           600 non-null    object
 3   release_time    600 non-null    object
 4   time            600 non-null    int64
 5   screening_rat   600 non-null    object
 6   director        600 non-null    object
 7   dir_prev_bfnum  270 non-null    float64
 8   dir_prev_num    600 non-null    int64
 9   num_staff       600 non-null    int64
 10  num_actor       600 non-null    int64
 11  box_off_num     600 non-null    int64
dtypes: float64(1), int64(5), object(6)
memory usage: 56.4+ KB

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           243 non-null    object
 1   distributor     243 non-null    object
 2   genre           243 non-null    object
 3   release_time    243 non-null    object
 4   time            243 non-null    int64
 5   screening_rat   243 non-null    object
 6   director        243 non-null    object
 7   dir_prev_bfnum  107 non-null    float64
 8   dir_prev_num    243 non-null    int64
 9   num_staff       243 non-null    int64
 10  num_actor       243 non-null    int64
dtypes: float64(1), int64(4), object(6)
memory usage: 21.0+ KB

# 데이터의 요약통계량 확인

In [ ]:
df_train.describe()

,time,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
count,600.000000,2.700000e+02,600.000000,600.000000,600.000000,6.000000e+02
mean,100.863333,1.050443e+06,0.876667,151.118333,3.706667,7.081818e+05
std,18.097528,1.791408e+06,1.183409,165.654671,2.446889,1.828006e+06
min,45.000000,1.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
25%,89.000000,2.038000e+04,0.000000,17.000000,2.000000,1.297250e+03
50%,100.000000,4.784236e+05,0.000000,82.500000,3.000000,1.259100e+04
75%,114.000000,1.286569e+06,2.000000,264.000000,4.000000,4.798868e+05
max,180.000000,1.761531e+07,5.000000,869.000000,25.000000,1.426277e+07

In [ ]:
df_test.describe()

              time  dir_prev_bfnum  dir_prev_num   num_staff   num_actor
count   243.000000    1.070000e+02    243.000000  243.000000  243.000000
mean    109.798354    8.916695e+05      0.851852  159.316872    3.477366
std     124.022711    1.217341e+06      1.200321  162.976607    2.111192
min      40.000000    3.400000e+01      0.000000    0.000000    0.000000
25%      91.000000    6.250200e+04      0.000000   18.000000    2.000000
50%     104.000000    4.931200e+05      0.000000  105.000000    3.000000
75%     114.500000    1.080850e+06      1.000000  282.000000    4.000000
max    2015.000000    6.173100e+06      6.000000  776.000000   16.000000

# 결측치 확인 및 데이터 전처리

In [ ]:
#dir_prev_bfnum 변수에 결측값이 존재한다.
df_train.isna().sum()

title               0
distributor         0
genre               0
release_time        0
time                0
screening_rat       0
director            0
dir_prev_bfnum    330
dir_prev_num        0
num_staff           0
num_actor           0
box_off_num         0
dtype: int64

In [ ]:
#dir_prev_bfnum 변수에 결측값이 존재한다.
df_test.isna().sum()

title               0
distributor         0
genre               0
release_time        0
time                0
screening_rat       0
director            0
dir_prev_bfnum    136
dir_prev_num        0
num_staff           0
num_actor           0
dtype: int64

In [ ]:
# 결측값의 특성 확인
df_train[df_train['dir_prev_bfnum'].isna()].head(3)

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
6,길위에서,백두대간,다큐멘터리,2013-05-23,104,전체 관람가,이창재,NaN,0,32,5,53526
8,"1789, 바스티유의 연인들",유니버설픽쳐스인터내셔널코리아,뮤지컬,2014-09-18,129,전체 관람가,정성복,NaN,0,3,5,4778

In [ ]:
print(df_train[df_train['dir_prev_bfnum'].isna()]['dir_prev_num'].sum())

0

In [ ]:
#dir_prev_bfnum이 결측값으로 존재하는 데이터들은 전부 dir_prev_num이 0인 영화들이다. 
#즉, 감독의 이전작품이 존재 하지 않은 경우이다. 따라서 dir_prev_bfnum에 있는 결측값은 전부 0으로 채운다.

df_train['dir_prev_bfnum'].fillna(0, inplace=True)

In [ ]:
df_test['dir_prev_bfnum'].fillna(0, inplace=True)

In [ ]:
#release_time은 시간에 관련된 데이터인데 int형으로 인식되고 있다. 
#release_time을 datetime형식으로 변환한다.

df_train['release_time']=pd.to_datetime(df_train['release_time'])

In [ ]:
df_test['release_time']=pd.to_datetime(df_test['release_time'])

In [ ]:
# 모든 칼럼에 결측값이 없으며, release_time 변수가 datetime형으로 변환되었음을 확인할 수 있다.
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           600 non-null    object
 1   distributor     600 non-null    object
 2   genre           600 non-null    object
 3   release_time    600 non-null    datetime64[ns]
 4   time            600 non-null    int64
 5   screening_rat   600 non-null    object
 6   director        600 non-null    object
 7   dir_prev_bfnum  600 non-null    float64
 8   dir_prev_num    600 non-null    int64
 9   num_staff       600 non-null    int64
 10  num_actor       600 non-null    int64
 11  box_off_num     600 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(5)
memory usage: 56.4+ KB

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           243 non-null    object
 1   distributor     243 non-null    object
 2   genre           243 non-null    object
 3   release_time    243 non-null    datetime64[ns]
 4   time            243 non-null    int64
 5   screening_rat   243 non-null    object
 6   director        243 non-null    object
 7   dir_prev_bfnum  243 non-null    float64
 8   dir_prev_num    243 non-null    int64
 9   num_staff       243 non-null    int64
 10  num_actor       243 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(5)
memory usage: 21.0+ KB

# 모델 적합

box_off_num와 관련 있는 피처 변수들만 추출
- 기준: 이전 프로젝트에서 box_off_num과의 관계에 대해서 살펴본 변수들

In [ ]:
df_train['month'] = df_train['release_time'].dt.month
df_test['month'] = df_test['release_time'].dt.month

In [ ]:
df_train=df_train[['time','dir_prev_bfnum','num_staff', 'num_actor', 'screening_rat','month','box_off_num']]
df_test=df_test[['time','dir_prev_bfnum','num_staff', 'num_actor', 'screening_rat','month']]

회귀 모델을 적용하기 전
- 카테고리형 변수 원핫 인코딩으로 피처 인코딩하기
- 수치형 변수 로그 변환
- 교차검증 적용

In [ ]:
df_train= pd.get_dummies(columns = ['screening_rat'], data = df_train)
df_test= pd.get_dummies(columns = ['screening_rat'], data = df_test)

In [ ]:
df_train['num_actor']=np.log1p(df_train['num_actor']) 
df_test['num_actor']=np.log1p(df_test['num_actor']) 
df_train['dir_prev_bfnum']=np.log1p(df_train['dir_prev_bfnum'])
df_test['dir_prev_bfnum']=np.log1p(df_test['dir_prev_bfnum'])

In [ ]:
y=df_train['box_off_num']
y=np.log1p(df_train.box_off_num)
x=df_train.drop("box_off_num",axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [ ]:
# 10개의 폴드 세트로 분리하는 KFold 객체와 폴드 세트별 rmse를 담을 리스트 객체 생성.
from sklearn.model_selection import KFold
kf = KFold(n_splits =  10, shuffle = True, random_state = 10)
rmse_list = []

회귀 모델 적용

- RandomForestRegressor

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state = 10)

In [ ]:
rf_pred = np.zeros((df_test.shape[0])) 

# KFold객체의 split( ) 호출하면 폴드 별 학습용, 검증용 테스트의 로우 인덱스를 array로 반환  
for train_idx, test_idx in kf.split(x, y) :
    # kfold.split( )으로 반환된 인덱스를 이용하여 학습용, 검증용 테스트 데이터 추출
    X_train, y_train = x.iloc[train_idx], y.iloc[train_idx] 
    X_test, y_test = x.iloc[test_idx], y.iloc[test_idx]    
    #학습 및 예측
    rf.fit(X_train, y_train)
    # 관객수니까 0보다 작으면 0으로 처리 
    # 관객수 로그변환 했으니까 예측값 계산시에는 지수변환 수행
    pred = np.expm1([0 if x < 0 else x for x in rf.predict(X_test)])      # X_test로 예측된 관객수 -> rmse 계산에 사용 
    sub_pred = np.expm1([0 if x < 0 else x for x in rf.predict(df_test)])  # target(test)로 예측된 관객수 -> submission data 관객수에 적용 
    rmse = np.sqrt(mean_squared_error(y_test, pred))
    rmse_list.append(rmse)
    
    rf_pred += (sub_pred / 10)  # 10-fold 교차검증이어서 10으로 나눠줌 

# rmse_list의 개별 rmse를 합하여 평균 rmse 계산 
print('RF 평균 rmse: {0:.2f}'.format(np.mean(rmse_list)))

RF 평균 rmse: 785258.60

- GradientBoostingRegressor

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
gbm = GradientBoostingRegressor(random_state = 10)

In [ ]:
gbm_pred = np.zeros((df_test.shape[0])) 

# KFold객체의 split( ) 호출하면 폴드 별 학습용, 검증용 테스트의 로우 인덱스를 array로 반환  
for train_idx, test_idx in kf.split(x, y) :
    # kfold.split( )으로 반환된 인덱스를 이용하여 학습용, 검증용 테스트 데이터 추출
    X_train, y_train = x.iloc[train_idx], y.iloc[train_idx] 
    X_test, y_test = x.iloc[test_idx], y.iloc[test_idx]    
    #학습 및 예측
    gbm.fit(X_train, y_train)
    # 관객수니까 0보다 작으면 0으로 처리 
    # 관객수 로그변환 했으니까 예측값 계산시에는 지수변환 수행
    pred = np.expm1([0 if x < 0 else x for x in gbm.predict(X_test)])      # X_test로 예측된 관객수 -> rmse 계산에 사용 
    sub_pred = np.expm1([0 if x < 0 else x for x in gbm.predict(df_test)])  # target(test)로 예측된 관객수 -> submission data 관객수에 적용 
    rmse = np.sqrt(mean_squared_error(y_test, pred))
    rmse_list.append(rmse)
    
    rf_pred += (sub_pred / 10)  # 10-fold 교차검증이어서 10으로 나눠줌 

# rmse_list의 개별 rmse를 합하여 평균 rmse 계산 
print('gbm 평균 rmse: {0:.2f}'.format(np.mean(rmse_list)))

gbm 평균 rmse: 963652.43

- LinearRegression

In [ ]:
from sklearn.linear_model import LinearRegression
lr= LinearRegression()

In [ ]:
lr_pred= np.zeros((df_test.shape[0])) 

# KFold객체의 split( ) 호출하면 폴드 별 학습용, 검증용 테스트의 로우 인덱스를 array로 반환  
for train_idx, test_idx in kf.split(x, y) :
    # kfold.split( )으로 반환된 인덱스를 이용하여 학습용, 검증용 테스트 데이터 추출
    X_train, y_train = x.iloc[train_idx], y.iloc[train_idx] 
    X_test, y_test = x.iloc[test_idx], y.iloc[test_idx]    
    #학습 및 예측
    lr.fit(X_train, y_train)
    # 관객수니까 0보다 작으면 0으로 처리 
    # 관객수 로그변환 했으니까 예측값 계산시에는 지수변환 수행
    pred = np.expm1([0 if x < 0 else x for x in lr.predict(X_test)])      # X_test로 예측된 관객수 -> rmse 계산에 사용 
    sub_pred = np.expm1([0 if x < 0 else x for x in lr.predict(df_test)])  # target(test)로 예측된 관객수 -> submission data 관객수에 적용 
    rmse = np.sqrt(mean_squared_error(y_test, pred))
    rmse_list.append(rmse)
    
    rf_pred += (sub_pred / 10)  # 10-fold 교차검증이어서 10으로 나눠줌 

# rmse_list의 개별 rmse를 합하여 평균 rmse 계산 
print('lr 평균 rmse: {0:.2f}'.format(np.mean(rmse_list)))

lt 평균 rmse: 3428896.14

- XGBRegressor

In [ ]:
from xgboost import XGBRegressor
xgb = XGBRegressor()

In [ ]:
xgb_pred= np.zeros((df_test.shape[0])) 

# KFold객체의 split( ) 호출하면 폴드 별 학습용, 검증용 테스트의 로우 인덱스를 array로 반환  
for train_idx, test_idx in kf.split(x, y) :
    # kfold.split( )으로 반환된 인덱스를 이용하여 학습용, 검증용 테스트 데이터 추출
    X_train, y_train = x.iloc[train_idx], y.iloc[train_idx] 
    X_test, y_test = x.iloc[test_idx], y.iloc[test_idx]    
    #학습 및 예측
    xgb.fit(X_train, y_train)
    # 관객수니까 0보다 작으면 0으로 처리 
    # 관객수 로그변환 했으니까 예측값 계산시에는 지수변환 수행
    pred = np.expm1([0 if x < 0 else x for x in xgb.predict(X_test)])      # X_test로 예측된 관객수 -> rmse 계산에 사용 
    sub_pred = np.expm1([0 if x < 0 else x for x in xgb.predict(df_test)])  # target(test)로 예측된 관객수 -> submission data 관객수에 적용 
    rmse = np.sqrt(mean_squared_error(y_test, pred))
    rmse_list.append(rmse)
    
    xgb_pred += (sub_pred / 10)  # 10-fold 교차검증이어서 10으로 나눠줌 

# rmse_list의 개별 rmse를 합하여 평균 rmse 계산 
print('xgb 평균 rmse: {0:.2f}'.format(np.mean(rmse_list)))

[06:47:17] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:47:17] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:47:17] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:47:17] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:47:17] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:47:17] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:47:17] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:47:17] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:47:17] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[06:47:17] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
gbm 평균 rmse: 2391842.53

- LGBMRegressor

In [ ]:
from lightgbm import LGBMRegressor
lgb = LGBMRegressor()

In [ ]:
lgb_pred= np.zeros((df_test.shape[0])) 

# KFold객체의 split( ) 호출하면 폴드 별 학습용, 검증용 테스트의 로우 인덱스를 array로 반환  
for train_idx, test_idx in kf.split(x, y) :
    # kfold.split( )으로 반환된 인덱스를 이용하여 학습용, 검증용 테스트 데이터 추출
    X_train, y_train = x.iloc[train_idx], y.iloc[train_idx] 
    X_test, y_test = x.iloc[test_idx], y.iloc[test_idx]    
    #학습 및 예측
    lgb.fit(X_train, y_train)
    # 관객수니까 0보다 작으면 0으로 처리 
    # 관객수 로그변환 했으니까 예측값 계산시에는 지수변환 수행
    pred = np.expm1([0 if x < 0 else x for x in lgb.predict(X_test)])      # X_test로 예측된 관객수 -> rmse 계산에 사용 
    sub_pred = np.expm1([0 if x < 0 else x for x in lgb.predict(df_test)])  # target(test)로 예측된 관객수 -> submission data 관객수에 적용 
    rmse = np.sqrt(mean_squared_error(y_test, pred))
    rmse_list.append(rmse)
    
    lgb_pred += (sub_pred / 10)  # 10-fold 교차검증이어서 10으로 나눠줌 

# rmse_list의 개별 rmse를 합하여 평균 rmse 계산 
print('lgb 평균 rmse: {0:.2f}'.format(np.mean(rmse_list)))

lgb 평균 rmse: 3139609.47

--------------------------------------------------------------------------

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

# log 값 변환 시 NaN등의 이슈로 log() 가 아닌 log1p() 를 이용하여 RMSLE 계산
def rmsle(y, pred):
    log_y = np.log1p(y)
    log_pred = np.log1p(pred)
    squared_error = (log_y - log_pred) ** 2
    rmsle = np.sqrt(np.mean(squared_error))
    return rmsle

# 사이킷런의 mean_square_error() 를 이용하여 RMSE 계산
def rmse(y,pred):
    return np.sqrt(mean_squared_error(y,pred))

# MSE, RMSE, RMSLE 를 모두 계산 
def evaluate_regr(y,pred):
    rmsle_val = rmsle(y,pred)
    rmse_val = rmse(y,pred)
    # MSE 는 scikit learn의 mean_absolute_error() 로 계산
    mse_val = mean_absolute_error(y,pred)
    print('RMSLE: {0:.3f}, RMSE: {1:.3F}, MSE: {2:.3F}'.format(rmsle_val, rmse_val, mse_val))

- LinearRegression

In [ ]:
from sklearn.model_selection import train_test_split , GridSearchCV
from sklearn.linear_model import LinearRegression , Ridge , Lasso


lr_reg = LinearRegression()
lr_reg.fit(X_train, y_train)
pred = lr_reg.predict(X_test)

evaluate_regr(y_test ,pred)

RMSLE: 3.789, RMSE: 1644916.029, MSE: 800066.639

- Ridge

In [ ]:
ridge_reg = Ridge(alpha=10)
ridge_reg.fit(X_train, y_train)
pred = ridge_reg.predict(X_test)

evaluate_regr(y_test ,pred)

RMSLE: 3.813, RMSE: 1645484.927, MSE: 798398.296

In [ ]:
ridge_reg = Ridge(alpha=20)
ridge_reg.fit(X_train, y_train)
pred = ridge_reg.predict(X_test)

evaluate_regr(y_test ,pred)

RMSLE: 3.789, RMSE: 1646073.898, MSE: 797301.117

- Lasso

In [ ]:
lasso_reg = Lasso(alpha=0.01)
lasso_reg.fit(X_train, y_train)
pred = lasso_reg.predict(X_test)

evaluate_regr(y_test ,pred)

RMSLE: 3.789, RMSE: 1644916.031, MSE: 800066.634

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf_reg = RandomForestRegressor()
rf_reg.fit(X_train, y_train)
pred = rf_reg.predict(X_test)

evaluate_regr(y_test ,pred)

RMSLE: 3.099, RMSE: 1615160.648, MSE: 679672.837

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
gbm_reg = GradientBoostingRegressor()
gbm_reg.fit(X_train, y_train)
pred = gbm_reg.predict(X_test)

evaluate_regr(y_test ,pred)

RMSLE: 3.349, RMSE: 1613339.536, MSE: 666557.163

In [ ]:
from xgboost import XGBRegressor
xgb_reg = XGBRegressor()
xgb_reg.fit(X_train, y_train)
pred = xgb_reg.predict(X_test)
evaluate_regr(y_test ,pred)

[04:44:34] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
RMSLE: 3.363, RMSE: 1537186.393, MSE: 642085.182

- LGBMRegressor

In [ ]:
from lightgbm import LGBMRegressor
lgbm_reg = LGBMRegressor()
lgbm_reg.fit(X_train, y_train)
pred = lgbm_reg.predict(X_test)
evaluate_regr(y_test ,pred)

RMSLE: 3.567, RMSE: 1605107.867, MSE: 688639.249